<h1>Genre - <%= @genre.name %></h1>
<p><u>Genres:</u></p>
<ul>
  <% @genre.songs.each do |s| %>
    <li><a href="/songs/<%= s.slug %>"><%= s.name %></a></li>
  <% end %>
</ul>
<p><u>Genres:</u></p>
<ul>
  <% @genre.artists.each do |g| %>
    <li><a href="/artists/<%= a.slug %>"><%= a.name %></a></li>
  <% end %>
</ul>